/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

    fragment@0
    {
        target = <&spi0>;
        __overlay__
        {
            status = "okay";
            pinctrl-0 = <&spi0_pins>;
  
            spidev@0
            {
                status = "okay";
                compatible = "spidev";
                spi-max-frequency = <1400000>;
            };

            spidev@1
            {
                status = "disabled";
            };
        };
	};
};
