/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

    fragment@0
    {
        target = <&spi0>;
        __overlay__
        {
            status = "okay";
            pinctrl-0 = <&spi0_pins>;
  
            spidev@0
            {
                status = "okay";
                compatible = "spidev";
                spi-max-frequency = <1400000>;
            };

            spidev@1
            {
                status = "disabled";
            };
        };
	};

	fragment@1
	{
		target = <&i2c1>;
		__overlay__
		{
			#address-cells = <1>; /* needed to avoid dtc warning */
			#size-cells = <0>; /* needed to avoid dtc warning */
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins>;
			clock-frequency = <100000>;
			status = "okay";

			pcf8523@68 {
				compatible = "nxp,pcf8523";
				reg = <0x68>;
				status = "okay";
			};
		};
	};
};
